.banner{
	padding:8rem ;
	background-image: url(../images/header-about-me.jpg);
	background-repeat: no-repeat;

}
.title{
	text-align: center;
	color: #fff;
}
.title .des{
	margin-top:2rem;
}
.timeline-custom{
	padding:4rem 0;
	background-color: #10c9c3;
}
.timeline{
	display:flex;
	color: white;
	font-weight: 300;
}
.icon i{
	font-size: 35px;
	padding:1rem;
}
.body .image{
	width: 100%;
}
.mt-main{
	margin-bottom:7rem;
}
.custom{
	padding:10rem 7rem 0 5rem;
}
.custom .description{
	margin-top:2rem;
}
.need-project{
	text-align: center;
	margin-bottom:5rem;
}
.lets-talk{
	margin-top:1rem;
}
.lets-talk a{
	background-color: #10c9c3;
    padding: .6rem 1.8rem;
    color: white;
    font-weight: bolder;
    
}
}
